<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">  
<link href="/templates/wallStyle.css" rel="stylesheet" type="text/css" />  
 <h1>Upload your photo</h1>
</head>
<body>
            <div class="modal-body">
                <form enctype="multipart/form-data" action="/addphoto/" method="POST">
                   <div class="form-group">
					<input type="text" name="title" class="form-control" id="add-note-title" placeholder="PhotoTitle" />
                        <br>
                        <a id="toggleAddFileGrp">Add Photo</a>
                        <span id="file-group" class="hidden">
                            File: <input type="file" name="uploadfile" />
                        </span>
                        <br> Size:
                        <select name="size">
                        <option value="large">Large</option>
                        <option value="medium">Medium</option>
                        <option value="small">Small</option>
                        </select>
						<br> PhotoPosition:
                        <input type="radio" name="pos" value="1" /> 1
                        <input type="radio" name="pos" value="2" /> 2
                        <input type="radio" name="pos" value="3" /> 3
                        <input type="radio" name="pos" value="4" /> 4
                        <input type="radio" name="pos" value="5" /> 5
                        <input type="radio" name="pos" value="6" /> 6
                        <input type="radio" name="pos" value="7" /> 7
                        <input type="radio" name="pos" value="8" /> 8
                        <input type="radio" name="pos" value="9" /> 9
                        <input type="radio" name="pos" value="10" /> 10
                        <input type="radio" name="pos" value="11" /> 11
                        <input type="radio" name="pos" value="12" /> 12
                        <input type="radio" name="pos" value="13" /> 13
                        <br>
                    </div>
            <div>Add notes:<textarea name="note" rows="2" cols="80"></textarea></div> 
            <div class="modal-footer">
                <input type="submit" value="Submit" class="btn btn-primary" id="addNoteBtn" />
                <input type="button" value="Cancel" onclick="history.back()" />
            </div>
            </form>
        </div>
</body>
</html>
