<!DOCTYPE html homePostBoard PhotoWall Function by superryanguo@outlook.com>  
<html>  
<head>  
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">  
  <link href="/templates/wallStyle.css" rel="stylesheet" type="text/css" />  
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                <input type="submit" value="Submit" class="btn btn-primary" id="addNoteBtn" />
            </div>
 
    <a href="/files/images/i.jpg" class="polaroid img2"><img src="/files/images/i.jpg" alt="" />This lovely waterfall was at Rotorua in Rainbow Springs</a>  
{{ if .}}
  <title>{{.Title}}</title>  
  <link href="/templates/wallStyle.css" rel="stylesheet" type="text/css" />  
</head>  
<body>  
 <div>
    <h1><span>Angel <abbr title="and" class="amp">&</abbr> {{.Title}}</span></h1>          
     {{ if .Album}} 
        {{range .Album}}
        <div class="photo-album">  
         <a href="./images/{{.Name}}" class="{{.Size}} polaroid img{{.Pos}}"><img src="./images/{{.Name}}" alt="" />{{.Note}}</a>  
        </div>
        {{end}} 
     {{else}}
      <div class="note">
        <p class="noteHeading">No PhotoAlbum Data</p>
      </div>
     {{end}}
 </div>  
</body>  
{{else}}
    <div class="note">
       <p class="noteHeading">No Photo Data</p>
    </div>
{{end}}
<p>[<a href="/addphoto/">AddPhoto</a>]</p>
</html>
