<!DOCTYPE html homePostBoard PhotoWall Function by superryanguo@outlook.com>  
<html>  
<head>  
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">  
{{ if .}}
  <title>{{.Title}}</title>  
  <link href="wallStyle.css" rel="stylesheet" type="text/css" />  
</head>  
<body>  
 <div>
    <h1><span>Angel <abbr title="and" class="amp">&</abbr> {{.Title}}</span></h1>          
     {{ if .Album}} 
        {{range .Album}}
        <div class="photo-album">  
         <a href="./images/{{.Name}}" class="{{.Size}} polaroid img{{.Pos}}"><img src="./images/{{.Name}}" alt="" />{{.Note}}</a>  
        </div>
        {{end}} 
     {{else}}
      <div class="note">
        <p class="noteHeading">No PhotoAlbum Data</p>
      </div>
     {{end}}
 </div>  
</body>  
{{else}}
    <div class="note">
       <p class="noteHeading">No Photo Data</p>
    </div>
{{end}}
<p>[<a href="/addphoto/">AddPhoto</a>]</p>
</html>
